
// FLAT UI COLORS
$turquoise: #1ABC9C
$greensea: #16A085
$emerland: #2ECC71
$nephritis: #27AE60
$peterriver: #3498DB
$belizehole: #2980B9
$amethyst: #9B59B6
$wisteria: #8E44AD
$wetasphalt: #34495E
$midnightblue: #2C3E50
$sunflower: #F1C40F
$orange: #F39C12
$carrot: #E67E22
$pumpkin: #D35400
$alizarin: #E74C3C
$pomegranate: #C0392B
$clouds: #ECF0F1
$silver: #BDC3C7
$concrete: #95A5A6
$asbestos: #7F8C8D

/* GENERAL HELPERS */
.clear
  clear: both

.center
  text-align: center

div.color
  $s: 90px
  width:  $s
  height: $s

  float: left
  margin-top: 20px
  margin-left: 10px

div.color p
  margin-top: 3px

div.colorblock
  $s: 70px
  width:  $s
  height: $s
  margin: 0 auto
  margin-top: 6px
  margin-bottom: 10px



.turquoise-bg
  background-color: $turquoise
.greensea-bg
  background-color: $greensea
.emerland-bg
  background-color: $emerland
.nephritis-bg
  background-color: $nephritis
.peterriver-bg
  background-color: $peterriver
.belizehole-bg
  background-color: $belizehole
.amethyst-bg
  background-color: $amethyst
.wisteria-bg
  background-color: $wisteria
.wetasphalt-bg
  background-color: $wetasphalt
.midnightblue-bg
  background-color: $midnightblue
.sunflower-bg
  background-color: $sunflower
.orange-bg
  background-color: $orange
.carrot-bg
  background-color: $carrot
.pumpkin-bg
  background-color: $pumpkin
.alizarin-bg
  background-color: $alizarin
.pomegranate-bg
  background-color: $pomegranate
.clouds-bg
  background-color: $clouds
.silver-bg
  background-color: $silver
.concrete-bg
  background-color: $concrete

.turquoise-border, .greensea-border, .emerland-border, .nephritis-border, .peterriver-border, .belizehole-border, .amethyst-border, .wisteria-border, .wetasphalt-border, .midnightblue-border, .sunflower-border, .orange-border, .carrot-border, .pumpkin-border, .alizarin-border, .pomegranate-border, .clouds-border, .silver-border, .concrete-border
  border-radius: 2px
.turquoise-border
  border: 1px solid $turquoise
.greensea-border
  border: 1px solid $greensea
.emerland-border
  border: 1px solid $emerland
.nephritis-border
  border: 1px solid $nephritis
.peterriver-border
  border: 1px solid $peterriver
.belizehole-border
  border: 1px solid $belizehole
.amethyst-border
  border: 1px solid $amethyst
.wisteria-border
  border: 1px solid $wisteria
.wetasphalt-border
  border: 1px solid $wetasphalt
.midnightblue-border
  border: 1px solid $midnightblue
.sunflower-border
  border: 1px solid $sunflower
.orange-border
  border: 1px solid $orange
.carrot-border
  border: 1px solid $carrot
.pumpkin-border
  border: 1px solid $pumpkin
.alizarin-border
  border: 1px solid $alizarin
.pomegranate-border
  border: 1px solid $pomegranate
.clouds-border
  border: 1px solid $clouds
.silver-border
  border: 1px solid $silver
.concrete-border
  border: 1px solid $concrete


